.git
.cache
.gitignore
.env
.env.template
__pycache__
*.pyc
.pytest_cache
.coverage
htmlcov
.venv
venv
.idea
.vscode
*.log
data/*
workspace/*
notebooks/.ipynb_checkpoints
venv
.idea
.vscode
*.log
data/*
workspace/*
notebooks/.ipynb_checkpoints